
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.row:before, .row:after{
    content: " ";
    display: table;
}
.row:after{
    clear: both
}
[class*="col-"]{
    min-height: 7px;
    padding:12px;
    max-width: 100%;
}
.col-1 {
    /* (1 / 12) x 100 */
    width: 8.333333%;
  } 
  
  .col-2 {
    /* (2 / 12) x 100 */
    width: 16.666667%;
  } 
  
  .col-3 {
    /* (3 / 12) x 100 */
    width: 25%;
  } 
  
  .col-4 {
    /* (4 / 12) x 100 */
    width: 33.333333%;
  }
  
  .col-5 {
    /* (5 / 12) x 100 */
    width: 41.666667%;
  }
  
  .col-6 {
    /* (6 / 12) x 100 */
    width: 50%;
  } 
  
  .col-7 {
    /* (7 / 12) x 100 */
    width: 58.333333%;
  }
  
  .col-8 {
    /* (8 / 12) x 100 */
    width: 66.666667%;
  }
  
  .col-9 {
    /* (9 / 12) x 100 */
    width: 75%;
  }
  
  .col-10 {
    /* (10 / 12) x 100 */
    width: 83.333333%;
  }
  
  .col-11 {
    /* (11 / 12) x 100 */
    width: 91.666667%;
  }
  
  .col-12 {
    /* (12 / 12) x 100 */
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
   }
   .toggle {
    background-color: #ffab52;
    height: 47px;
    width: 47px;
    border-radius: 50px;
    position: fixed;
    margin: auto;
    top: 585px;
    bottom: 0;
    Left: 31px;
    right: 0;
    /* z-index: 1; */
}
.menu {
  background-color: white;
  height: 64px;
  width: 64px;
  transform: scale(0);
  border-radius: 50px;
  position: fixed;
  margin: auto;
  top: 597px;
  bottom: 0;
  Left: 23px;
  right: 0;
  z-index: 2;
}
.a{
  display: inline-block;
  position: absolute;
  color:#ffab52;
  font-size: 11px;
}
.a:nth-child(1) {
  top: 4px;
  Left: 27px;
}
.a:nth-child(2) {
  top: 10px;
  Left: 47px;
}
.a:nth-child(3) {
  top: 28px;
  Left: 50px;
}
.a:nth-child(4) {
  top: 29px;
  Left: 5px;
}
.a:nth-child(5) {
  
  top: 12px;
  Left: 9px;
}

#bar{
   font-size: 30px;
    color: white;
    position: absolute;
    top: 14px;
    Left: 8px;
    transition: 1s;
    z-index: 3;
}

#infoMe{
  font-size: 1.4em;
  font-family: 'Gentium Basic', serif;
  margin-left: 33px;
  margin-right: 18px;
  padding-top: 5%;
}
#me{
  display: none;
}

.scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}


.iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat;
  color: white;
  margin-top: -148%;
  font-size: 300%;
  margin-left: -61%;
  font-family: 'Questrial', sans-serif;
}
.iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
  margin-top: -3.5%;
}
.iam .innerIam {
  display: inline-block;
  color: #ffab52;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  
/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

  #section1,#section2,#section3,#section5{
    padding-top: 178%;
  }

  #section1{
    background: url(yo1.png) ;
    background-size: cover; 
    max-width: 100%;
    height: 60%;
    /* opacity: 0.8; */
  } 
 
  #section3{
    padding-top: 180%;
  }
  #section2{

    background: #ffab52;  
    opacity:1.0;
   
  }

  #section4{
    padding-top: 384%;
  }
  .skills,.contact{
    
    font-size: 1.9em;
    color:white;
    margin-top: -590px;
    text-align: center;
}
.projects{
  font-size: 1.9em;
  color:white;
  margin-top: -1331px;
  text-align: center;

}
#info{
  font-size: 1.9em;
  color:white;
  margin-top: -590px;
  text-align: center;
  margin-left: 20px;
}
.col-sm-4.col-md-3{
  color: white;
  font-size: 60px;
  margin-top: 61px;
  text-align: center;
  padding: 59px;
}
#iconSkills{
  padding-top: 10%;
}
#iconContact{
  color:white;
  font-size:100px;
  margin-top:63px;
  text-align: center;
}
.card{
  position: absolute;
  width: 262px;
  height: 350px;
  background-color: azure;
  top:20%;
  transform-style: preserve-3d;
  transform: translate(19%,10%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgb(0, 0,0,.5), 0 20px 100px rgb(0, 0,0,.5);
  transition: 1s;
  
}
.card:hover{
  transform: translate(19%,10%) perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgb(0, 0,0,.5), 0 10px 100px rgb(0, 0,0,.5);
}
.card:before {
  content: '';
  position: absolute;
  width: 261px;
  height: 5px;
  top: -5px;
  left: 0;
  background-color: #9C865A;
  transform-origin: bottom;
  transform: skewX(-45deg);
}
.card:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 350px;
  right: -4px;
  top: 0;
  background-color: black;
  transform-origin: left;
  transform: skewY(-45deg);
}
.card .imBox{

 position: relative;
  width: 100px;
  height:100px;
  transform-origin: left;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
}
.card:hover .imBox{

  transform: rotateY(-135deg)
}
.card2{
  position: absolute;
  width: 262px;
  height: 350px;
  background-color: azure;
  top: 79%;
  transform-style: preserve-3d;
  transform: translate(19%,10%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgb(0, 0,0,.5), 0 20px 100px rgb(0, 0,0,.5);
  transition: 1s;
  
}
.card2:hover{
  transform: translate(19%,10%) perspective(2000px) rotate(15deg);
  box-shadow: inset 20px 0 50px rgb(0, 0,0,.5), 0 10px 100px rgb(0, 0,0,.5);
}
.card2:before{
  content: '';
  position: absolute;
  width: 261px;
  height: 5px;
  top:-5px;
  left:0;
  background-color: #9C865A;
  transform-origin: bottom;
  transform: skewX(-45deg)
}

.card2:after{
  content: '';
  position: absolute;
  width: 5px;
  height: 350px;
  right: -4px;
  top:0;
  background-color: black;
  transform-origin: left;
  transform: skewY(-45deg)
}
.card2 .imBox2{

 position: relative;
  width: 100px;
  height:100px;
  transform-origin: left;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
}
.card2:hover .imBox2{

  transform: rotateY(-135deg)
}
.card3{
  position: absolute;
  width: 262px;
  height: 350px;
  background-color: azure;
  top:138%;
  transform-style: preserve-3d;
  transform: translate(19%,10%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgb(0, 0,0,.5), 0 20px 100px rgb(0, 0,0,.5);
  transition: 1s;
  
}
.card3:hover{
  transform: translate(19%,10%) perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgb(0, 0,0,.5), 0 10px 100px rgb(0, 0,0,.5);
}
.card3:before{
  content: '';
  position: absolute;
  width: 261px;
  height: 5px;
  top:-5px;
  left:0;
  background-color: rgb(209, 30, 7);
  transform-origin: bottom;
  transform: skewX(-45deg)
}

.card3:after{
  content: '';
  position: absolute;
  width: 5px;
  height: 350px;
  right: -4px;
  top:0;
  background-color:white;
  transform-origin: left;
  transform: skewY(-45deg)
}
.card3 .imBox3{

 position: relative;
  width: 100px;
  height:100px;
  transform-origin: left;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
}
.card3:hover .imBox3{

  transform: rotateY(-135deg)
}
#idDetail{
  margin-left: 10px;
  margin-top: -36%;
  text-align: center;
}

#idP{
  margin-top: 2%;
}

#iconBook {
  margin-top: -5%;
  font-size: 225%;
  margin-left: 157px;
  color: black;
}
#iconBook2 {
  margin-top: -7%;
  font-size: 225%;
  margin-left: 20px;
  color: black;
}
#imgCard {
  height: 350px;
  width: 261px;
  margin-top: 0px;
  margin-left: 0px;
}
 
}