
#section2,#section3,#section4,#section5{
  display: none;
}

#section1{
  background: url(me.jpg) ;
  background-size: cover; 
  max-width: 100%;
  height: 100vh;
} 

.contenedor {
  margin: auto;
  display: table;
}

#me{
  width: 406px;
  height: 629px;
  margin-top: -324px;
  margin-left: 251px;
}

#section1,#section2,#section3,#section4,#section5{
   padding-top: 52%; 

}

#section2 {
  background: url(fondo.jpeg) no-repeat;
  opacity:0.8;
}
  
#infoMe{
  font-size: 1.4em;
  font-family: 'Questrial', sans-serif;
  margin-left: 603px;
  text-align: justify;
  padding-top: 4%;
  color: rgb(41, 39, 39);
}

#info{
  font-size: 3em;
  color: white;
  margin-left: 403px;
  margin-top: -564px;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

#section3{
  background-color: #9c55a5; 
}

#section4{
  background-color: #57cadd;
}
    
#section5{
  background-color: #2ab8ac;
}

.toggle{
  background-color:#ffab52;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  position: fixed;
  margin: auto;
  top: -440px;
  bottom: 0;
  left:1115px;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

#bar{
  font-size: 21px;
  position: absolute;
  top: 15px;
  Left: 16px;
  transition: 1s;
  width: 35px;
  cursor: pointer;
  color: white;
}

.menu{
  background-color: white;
  height: 70px;
  width: 70px;
  transform: scale(0);
  border-radius: 50px;
  position: fixed;
  margin: auto;
  top: -442px;
  bottom: 0;
  Left: 1105px;
  right: 0;
  z-index: 2;
} 

.a{
  display: inline-block !;
  position: absolute;
  color:#ffab52;
  font-size: 13px;
}

.a:nth-child(1) {
  top: 5px;
  Left: 30px;
}

.a:nth-child(2) {
  top: 22px;
  Left: 54px;
}

.a:nth-child(3) {
  top: 49px;
  Left: 43px;
}

.a:nth-child(4) {
  top: 48px;
  Left: 15px;
}

.a:nth-child(5) {
  top: 22px;
  Left: 7px;
}  

/* conocimientos     */
.skills,.projects,.contact{
  font-size: 3em;
  color:white;
  margin-top: -590px;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

.col-sm-4.col-md-3{
    color:white;
    font-size:100px;
    margin-top:60px;
    text-align: center;
}

#idSkills{
  font-size: 30px;
}

#iconContact{
  color:white;
  font-size:100px;
  margin-top:160px;
  text-align: center;
}

#imgCard{
  height: 399px;
  width: 299px;
  margin-top: 0px;
  margin-left: 0px;
}

#detalles{
  margin-left: 70px;
}

.animated.infinite.flash  {
    animation-duration : 1 s ;
 }
 
 .swing-in-left-bck {
	-webkit-animation: swing-in-left-bck 2.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	 animation: swing-in-left-bck 2.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

 @-webkit-keyframes swing-in-left-bck {
  0% {
    -webkit-transform: rotateY(-70deg);
            transform: rotateY(-70deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
} 
.roll-in-right {
	-webkit-animation: roll-in-right 1s ease-out both;
	animation: roll-in-right 1s ease-out both;
}

@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.scale-in-ver-bottom {
	-webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

.iam {
  padding: 2em 5em;
  font: normal 40px/50px Montserrat;
  color:white;
  margin-top: -35%;
  font-size: 300%;
  margin-left: -10%;
  font-family: 'Bree Serif', serif;
}
.iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
  margin-top: -3.5%;
}
.iam .innerIam {
  display: inline-block;
  color: #ffab52;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  
/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
.card{
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: azure;
  top:20%;
  transform-style: preserve-3d;
  transform: translate(20%,10%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgb(0, 0,0,.5), 0 20px 100px rgb(0, 0,0,.5);
  transition: 1s;
  
}

.card:hover{
  transform: translate(20%,10%) perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgb(0, 0,0,.5), 0 10px 100px rgb(0, 0,0,.5);
}

.card:before{
  content: '';
  position: absolute;
  width: 300px;
  height: 5px;
  top:-5px;
  left:0;
  background-color: #9C865A;
  transform-origin: bottom;
  transform: skewX(-45deg)
}

.card:after{
  content: '';
  position: absolute;
  width: 5px;
  height:399px;
  right: -4px;
  top:0;
  background-color: black;
  transform-origin: left;
  transform: skewY(-45deg)
}

.card .imBox{
  position: relative;
  width: 100px;
  height:100px;
  transform-origin: left;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
}
.card:hover .imBox{
  transform: rotateY(-135deg)
}

.card2{
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: azure;
  top:20%;
  transform-style: preserve-3d;
  transform: translate(160%,10%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgb(0, 0,0,.5), 0 20px 100px rgb(0, 0,0,.5);
  transition: 1s;
  
}

.card2:hover{
  transform: translate(160%,10%) perspective(2000px) rotate(15deg);
  box-shadow: inset 20px 0 50px rgb(0, 0,0,.5), 0 10px 100px rgb(0, 0,0,.5);
}

.card2:before{
  content: '';
  position: absolute;
  width: 300px;
  height: 5px;
  top:-5px;
  left:0;
  background-color: #9C865A;
  transform-origin: bottom;
  transform: skewX(-45deg)
}

.card2:after{
  content: '';
  position: absolute;
  width: 5px;
  height:399px;
  right: -4px;
  top:0;
  background-color: black;
  transform-origin: left;
  transform: skewY(-45deg)
}

.card2 .imBox2{
  position: relative;
  width: 100px;
  height:100px;
  transform-origin: left;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
}

.card2:hover .imBox2{
  transform: rotateY(-135deg)
}

.card3{
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: azure;
  top:20%;
  transform-style: preserve-3d;
  transform: translate(300%,10%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgb(0, 0,0,.5), 0 20px 100px rgb(0, 0,0,.5);
  transition: 1s;
  
}

.card3:hover{
  transform: translate(300%,10%) perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgb(0, 0,0,.5), 0 10px 100px rgb(0, 0,0,.5);
}

.card3:before{
  content: '';
  position: absolute;
  width: 300px;
  height: 5px;
  top:-5px;
  left:0;
  background-color: rgb(209, 30, 7);
  transform-origin: bottom;
  transform: skewX(-45deg)
}

.card3:after{
  content: '';
  position: absolute;
  width: 5px;
  height:399px;
  right: -4px;
  top:0;
  background-color:white;
  transform-origin: left;
  transform: skewY(-45deg)
}
.card3 .imBox3{

 position: relative;
  width: 100px;
  height:100px;
  transform-origin: left;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
}
.card3:hover .imBox3{

  transform: rotateY(-135deg)
}
#idDetail{
  margin-left: 10px;
  margin-top: -25%;
  text-align: center;
}
#idP{
  margin-top: 5%;
}

#iconBook{
margin-top: 25%;
font-size: 150%;
margin-left: 200px;
color: black;
}
#iconBook2{
  margin-top: 25%;
  font-size: 150%;
  margin-left: 20px;
  color: black;
}